.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-clip{
  background-color: black;
  clip-path: polygon(0 0, 100% 0%, 100% 58%, 0 100%);
}

.img-clip2{
  background-color: black;
  clip-path: polygon(0 45%, 100% 5%, 100% 58%, 0 100%);
}

.faq{
  box-shadow: 1px 1px 10px #FF6E31;
}



